!!! 5
html(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap core CSS 
    link(href='static/css/bootstrap.css', rel='stylesheet')
    title Editor
    script(src='static/js/jquery-1.10.2.min.js', type='text/javascript', charset='utf-8').
    script(src='static/js/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8').
    script(src='static/js/vkbeautify.0.99.00.beta.js', type='text/javascript', charset='utf-8').
    script(src='static/js/xmllint.js', type='text/javascript', charset='utf-8').
    script(src='static/js/xml-edit-validate.js', type='text/javascript', charset='utf-8').
    style(type='text/css', media='screen').
      body {
      overflow: hidden;
      padding-top: 50px;
      }
      #editor {
      margin: 0;
      position: absolute;
      top: 70px;
      bottom: 0;
      left: 0;
      right: 0;
      }
      .starter-template {
      padding: 40px 15px;
      }
  body
    .navbar.navbar-fixed-top(style='background-color: white;')
      .container
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(style='max-width: 300px;', href='/')
          | XML Create 
          i &amp; 
          | Validate
        .nav-collapse.collapse.pull-right
          ul.nav.nav-pills
            li
              a(href='#') Open
            li
              a(href='#about') Save
            li
              a(id='prettify', href='#prettify') Prettify
            li
              a(id='validate', href='#validate') Validate
    .container
      .info
        .row(style='height: 20px;')
          #filename.col-lg-4
          #info.col-lg-4
          #schema.col-lg-4
      .starter-template
        pre#editor.
          &lt;?xml version="1.0"?&gt;

    //
       /.container 
